fastapi
uvicorn[standard]
gunicorn
streamlit
sqlalchemy==2.0.23
psycopg2-binary==2.9.9
pydantic
pydantic-settings
python-dotenv
apscheduler
requests
python-multipart
pandas
python-jose[cryptography]
httpx
pytest
pytest-asyncio
cryptography
email-validator
